extends layouts/default
include helpers/mixins

block content
  main 
    .content
      include blocks/slider
      include blocks/production-list
      include blocks/info-block
      include blocks/works
      include blocks/clients
      include blocks/reviews
      include blocks/news
        