.clients {
  margin-top: 2rem;

  &__bg {
    padding-top: 3rem;
    background: $clr-border;
  }

  &__title {
    color: $clr-red;
    text-align: center;
  }
  &__carousel {
    width: 100%;
    margin-top: 2rem;
  }
  .item {
    cursor: pointer;
    a {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    img {
      width: 120px;
      height: 100%;
      filter: grayscale(100%);
      transition: $tr;
    }
    &:hover {
      img {
        filter: grayscale(0);
      }
    }
  }
}
