extends ../layouts/default
include ../helpers/mixins

block content
  - const page_title = 'О компании';
  - const page_img = 'assets/img/pages/about/about_1.png';
  main 
    .content
      include ../blocks/page-header
      include ../blocks/about-content
      include ../blocks/clients  