extends ../layouts/default
include ../helpers/mixins

block content
  - const page_title = 'Наши контакты';
  - const page_img = 'assets/img/pages/blog.png';
  - const page_button = '';
  - const content_title = '';
  - const content_desc = '';
  main 
    .content
      include ../blocks/page-header
      include ../blocks/contacts-content
      include ../blocks/contacts-map