extends ../layouts/default
include ../helpers/mixins

block content
  - const page_title = 'Наш блог';
  - const page_img = 'assets/img/pages/blog.png';
  - const page_button = '';
  - const content_title = 'ПОЛЕЗНЫЕ СТАТЬИ';
  - const content_desc = 'Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция. Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция. Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция Полезная информция ';
  main 
    .content
      include ../blocks/page-header
      include ../blocks/page-content
      include ../blocks/news-list