block global
    - const name = 'ФакторРус';
    - const tagline = '';
    - const logo = 'assets/img/logo.png';
    - const phone_1 = '';
    - const phone_2 = '';
    - const mail_1 = '';
    - const mail_2 = '';
    - const address = '';
    - const address_full = '';
    - const schedule = ''
    - 
        const socials = [
            {href: '#', name: 'facebook'},
            {href: '#', name: 'instagram'}
        ]
    -
        const menu = [
            {
                href: '/', 
                title: 'Главная', 
                submenu:''
            },
            {
                href: '/about.html', 
                title: 'О нас', 
                submenu:''
            },
            {
                href: '#', 
                title: 'Продукция', 
                submenu: [
                    {
                        href:'/produckciya/obiemnye-bukvi.html',
                        title:'Объёмные буквы',
                    },
                    {
                        href:'/produckciya/svetovie-koroba.html',
                        title:'Световые короба',
                    },
                    {
                        href:'/produckciya/kompozitnie-koroba.html',
                        title:'Композитные короба',
                    },
                    {
                        href:'/produckciya/kristalayti.html',
                        title:'Кристалайты',
                    },
                    {
                        href:'/produckciya/falshfasadi.html',
                        title:'Фальшфасады',
                    },
                    {
                        href:'/produckciya/ploskie-bukvi.html',
                        title:'Плоские буквы (несветовые)',
                    },
                    {
                        href:'/produckciya/informacionnie-stendi.html',
                        title:'Информационные стенды',
                    },
                    {
                        href:'/produckciya/svetovie-paneli.html',
                        title:'Световые панели (лайтиксы)',
                    },
                    {
                        href:'/produckciya/rostovie-figuri.html',
                        title:'Ростовые фигуры',
                    },
                    {
                        href:'/produckciya/shirokoformatnaya-pechat.html',
                        title:'Широкоформатная печать',
                    },
                    {
                        href:'/produckciya/krishnie-ustanovki.html',
                        title:'Крышные установки',
                    },
                    {
                        href:'/produckciya/panel-kronshtein.html',
                        title:'Панель-кронштейн (Консоль)',
                    },
                    {
                        href:'/produckciya/press-vol.html',
                        title:'Пресс-вол',
                    },
                    {
                        href:'/produckciya/freim-layti.html',
                        title:'Фрейм-лайты',
                    },
                    {
                        href:'/produckciya/akrilayti.html',
                        title:'Акрилайты',
                    },
                     {
                        href:'/produckciya/neonovie-viveski.html',
                        title:'Неоновые вывески',
                    },
                     {
                        href:'/produckciya/navigaciya.html',
                        title:'Навигация (таблички, указатели)',
                    },
                     {
                        href:'/produckciya/domovie-znaki.html',
                        title:'Домовые знаки',
                    },
                     {
                        href:'/produckciya/shtenderi.html',
                        title:'Штендеры',
                    },
                     {
                        href:'/produckciya/led-ekrani.html',
                        title:'LED-экраны',
                    },
                ]
            },
            {
                href: '#', 
                title: 'Услуги', 
                submenu:[
                    {
                        href:'/uslugi/montazh-konstrukciy.html',
                        title:'Монтаж конструкция'
                    },
                    {
                        href:'/uslugi/demontazh-konstrukciy.html',
                        title:'Демонтаж конструкций'
                    },
                    {
                        href:'/uslugi/remont-konstrukciy.html',
                        title:'Ремонт конструкций'
                    },
                    {
                        href:'/uslugi/frezerovka.html',
                        title:'Фрезеровка'
                    },
                    {
                        href:'/uslugi/lazernaya-rezka.html',
                        title:'Лазерная резка'
                    },
                    {
                        href:'/uslugi/okleyka.html',
                        title:'Оклейка'
                    },
                    {
                        href:'/uslugi/dizain.html',
                        title:'Дизайн'
                    },
                    {
                        href:'/uslugi/proektirovanie.html',
                        title:'Проектирование'
                    },
                    {
                        href:'/uslugi/soglasovanie.html',
                        title:'Согласование'
                    },
                ]
            },
            {
                href: '/portfolio.html', 
                title: 'Портфолио', 
                submenu:''
            },
            {
                href: '/news.html', 
                title: 'Блог', 
                submenu:''
            },
            {
                href: '/contacts.html', 
                title: 'Контакты', 
                submenu:''
            }
        ]

block variables

doctype html
html(lang="ru")
    include ../chunks/head
    body
        .wrapper
            include ../chunks/aside
            .page
                include ../chunks/header
                main
                    block content
                include ../chunks/footer
        include ../chunks/modals
        include ../chunks/scripts