section.about-content
  .about-list
    .container
      .row
        .col-md-6
          .about-list__content
            h2 НЕМНОГО О НАС
            p Компания Фактор - это высококачественное производство наружной рекламы по всей России! Наша компания была основана в 2006 году и имеет большой опыт реализации проектов любого уровня сложности. В нашем арсенале имеется огромный выбор объемных букв различного типа. В короткие сроки и с максимальной точностью мы озвучим окончательную стоимость заказа. Вызов замерщика бесплатный! Гарантия. Качество. Доступные цены. Именно так звучит наш девиз. С нетерпением ждем Вас!
        .col-md-6
          .about-list__img
            img(src="assets/img/pages/about/about_2.png", alt="")
    .about-list.about-list--dark
      .container
        .row
          .col-md-6
            .about-list__img
              img(src="assets/img/pages/about/about_2.png", alt="")
          .col-md-6
            .about-list__content
              h2 ПРОИЗВОДСТВЕННЫЕ МОЩНОСТИ
              p Широкий парк оборудования позволяет выполнять любые заказы в срок и с максимальным качеством
    .about-list
      .container
        .row
          .col-md-6
            .about-list__content
              h2 В НОГУ СО ВРЕМЕНЕМ
              p Мы не стоим на месте. Наши клиенты получают продукцию не только из современных материалов, но и изготовленную на современном оборудовании. В парке оборудования нашей компании имеется самые технологичные станки - бортогибы. Это позволяет выполнить любой заказ в минимальные сроки!
          .col-md-6
            .about-list__img
              img(src="assets/img/pages/about/about_3.png", alt="")