section.clients
  .container
    .clients__wrap
      h2.clients__title НАШИ КЛИЕНТЫ
      .clients__carousel.owl-carousel
        .item 
          img.item__img(src="assets/img/clients/1.png")
        .item 
          img.item__img(src="assets/img/clients/2.png")
        .item 
          img.item__img(src="assets/img/clients/3.png")
        .item 
          img.item__img(src="assets/img/clients/4.png")
        .item 
          img.item__img(src="assets/img/clients/1.png")
        .item 
          img.item__img(src="assets/img/clients/2.png")
        .item 
          img.item__img(src="assets/img/clients/3.png")
        .item 
          img.item__img(src="assets/img/clients/4.png")