section.clients
  .container.clients__bg
    h2.clients__title НАШИ КЛИЕНТЫ
    .clients__carousel.owl-carousel
      .item 
        a(data-fancybox data-src="assets/img/clients/1.png")
          img.item__img(src="assets/img/clients/1.png")
      .item 
        a(data-fancybox data-src="assets/img/clients/2.png")
          img.item__img(src="assets/img/clients/2.png")
      .item 
        a(data-fancybox data-src="assets/img/clients/3.png")
          img.item__img(src="assets/img/clients/3.png")
      .item 
        a(data-fancybox data-src="assets/img/clients/4.png")
          img.item__img(src="assets/img/clients/4.png")
      .item 
        a(data-fancybox data-src="assets/img/clients/1.png")
          img.item__img(src="assets/img/clients/1.png")
      .item 
        a(data-fancybox data-src="assets/img/clients/2.png")
          img.item__img(src="assets/img/clients/2.png")
      .item 
        a(data-fancybox data-src="assets/img/clients/3.png")
          img.item__img(src="assets/img/clients/3.png")
      .item 
        a(data-fancybox data-src="assets/img/clients/4.png")
          img.item__img(src="assets/img/clients/4.png")