section.contacts-content  
  .container
    .row
      .col-12.col-md-7
        .contacts 
          h2 СВЯЗАТЬСЯ С НАМИ
          .contacts__item
            .contacts__title
              h4 ОФИС
            .contacts__text
              p г. Москва, Варшавское шоссе, 111 корп. 2, оф.33
          .contacts__item
            .contacts__title
              h4 ПРОИЗВОДСТВО
            .contacts__text
              p г. Москва, Варшавское шоссе, 111 корп. 2, оф.33
          .contacts__item
            .contacts__title
              h4 ТЕЛЕФОНЫ
            .contacts__text
              p 
                a(href="tel:+74956635072") +7 (495) 663-50-72
                br
                a(href="tel:+74956635072") +7 (495) 663-50-72
          .contacts__item
            .contacts__title
              h4 ПОЧТА
            .contacts__text
              p 
                a(href="mailto:zakaz@factorrus.ru") zakaz@factorrus.ru
      .col-12.col-md-5
        form.form
          h2 ЗАКАЗАТЬ ЗВОНОК
          .row
            .col-12.col-md-12
              input.input-field(type="text" id="company" placeholder="Название компании")
            .col-12.col-md-12
              input.input-field(type="text" id="name" placeholder="Ваше имя")
            .col-12.col-md-12
              input.input-field(type="text" id="phone" placeholder="Ваш телефон")
            .col-12.col-md-12
              textarea.input-field.input-field--area( id="text" placeholder="Дополнительная информация")
            .col-12.col-md-12
              p.form__notice Нажимая на кнопку, вы даете согласие на обработку персональных данных 
              button.c-btn.form__btn(role="submit") Отправить
        