section.info-block
  .container
    .row.justify-content-center.info-block__wrap(style="background-image: url('assets/img/blocks/block_1.png')")
      .col-md-10
        .info-block__desc
          h2.info-block__title РАБОТАЕМ БЫСТРО
          h2.info-block__subtitle Спроектируем, изготовим и установим вашу вывеску в кратчайшие сроки
    .row.justify-content-center.info-block__wrap(style="background-image: url('assets/img/blocks/block_2.png')")
      .col-md-10.d-flex.justify-content-end
        .info-block__desc.info-block__desc--right
          h2.info-block__title ПРЕДЛАГАЕМ ВЫБОР
          h2.info-block__subtitle Наши дизайнеры создадут три макета вашей будущей вывески на выбор
    .row.justify-content-center.info-block__wrap(style="background-image: url('assets/img/blocks/block_3.png')")
      .col-md-10
        .info-block__desc
          h2.info-block__title ЭКОНОМИЯ ВРЕМЕНИ
          h2.info-block__subtitle Наш замерщик прибудет на объект на следующий день после обращения
    .row.justify-content-center.info-block__wrap(style="background-image: url('assets/img/blocks/block_4.png')")
      .col-md-10.d-flex.justify-content-end
        .info-block__desc.info-block__desc--right
          h2.info-block__title ВСЁ ПО ЗАКОНУ
          h2.info-block__subtitle Наши консультанты предоставят вам варианты рекламных конструкции в соответствии с 902-ПП
    .row.justify-content-center.info-block__wrap(style="background-image: url('assets/img/blocks/block_5.png')")
      .col-md-10
        .info-block__desc
          h2.info-block__title ОПЛАТА БЕЗ ПРОБЛЕМ
          h2.info-block__subtitle Принимаем любые, удобные для вас формы оплаты
