section.news
  .container
    .news__wrap
      h2.news__title Последние новости
      .news__list
        .row
          .col-md-3
            .item                
              .item__img
                img(src="assets/img/news/news_1.png")
              .item__desc
                span.item__data 01.01.21
                p.item__text Наша компания осуществила ребрендинг сайта. Теперь все страницы стали намного привлекательнее
                a.item__link(href="#") Подробнее...
          .col-md-3
            .item                
              .item__img
                img(src="assets/img/news/news_1.png")
              .item__desc
                span.item__data 01.01.21
                p.item__text Наша компания осуществила ребрендинг сайта. Теперь все страницы стали намного привлекательнее
                a.item__link(href="#") Подробнее...
          .col-md-3
            .item                
              .item__img
                img(src="assets/img/news/news_1.png")
              .item__desc
                span.item__data 01.01.21
                p.item__text Наша компания осуществила ребрендинг сайта. Теперь все страницы стали намного привлекательнее
                a.item__link(href="#") Подробнее...
          .col-md-3
            .item                
              .item__img
                img(src="assets/img/news/news_1.png")
              .item__desc
                span.item__data 01.01.21
                p.item__text Наша компания осуществила ребрендинг сайта. Теперь все страницы стали намного привлекательнее
                a.item__link(href="#") Подробнее...