section.news-list
  .container
    .row
      .col-md-12
        a.card(href="#")
          .card__wrap.row
            .card__img.col-md-5
              img(src="assets/img/portfolio/item1.png" alt="")
            .card__desc.col-md-7
              .card__title
                h4 Как правильно клеить буквы из ПВХ
              .card__date
                span 23.01.2021
              .card__text
                p Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ.....
      .col-md-12
        a.card(href="#")
          .card__wrap.row
            .card__img.col-md-5
              img(src="assets/img/portfolio/item1.png" alt="")
            .card__desc.col-md-7
              .card__title
                h4 Как правильно клеить буквы из ПВХ
              .card__date
                span 23.01.2021
              .card__text
                p Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ.....
      .col-md-12
        a.card(href="#")
          .card__wrap.row
            .card__img.col-md-5
              img(src="assets/img/portfolio/item1.png" alt="")
            .card__desc.col-md-7
              .card__title
                h4 Как правильно клеить буквы из ПВХ
              .card__date
                span 23.01.2021
              .card__text
                p Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ.....
      .col-md-12
        a.card(href="#")
          .card__wrap.row
            .card__img.col-md-5
              img(src="assets/img/portfolio/item1.png" alt="")
            .card__desc.col-md-7
              .card__title
                h4 Как правильно клеить буквы из ПВХ
              .card__date
                span 23.01.2021
              .card__text
                p Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ. Как правильно коеить буквы из ПВХ.....
          