section.news
  .container
    .news__wrap
      h2.news__title Последние новости
      .news__list
        .row
          .col-md-3
            .item
              .item__data
                span 01.01.21
              .item__img
                img(src="assets/img/news/news_1.png")
              .item__text
                p Наша компания осуществила ребрендинг сайта. Теперь все страницы стали намного привлекательнее
              .item__link
                a(href="#") Подробнее...
          .col-md-3
            .item
              .item__data
                span 01.01.21
              .item__img
                img(src="assets/img/news/news_1.png")
              .item__text
                p Наша компания осуществила ребрендинг сайта. Теперь все страницы стали намного привлекательнее
              .item__link
                a(href="#") Подробнее...
          .col-md-3
            .item
              .item__data
                span 01.01.21
              .item__img
                img(src="assets/img/news/news_1.png")
              .item__text
                p Наша компания осуществила ребрендинг сайта. Теперь все страницы стали намного привлекательнее
              .item__link
                a(href="#") Подробнее...
          .col-md-3
            .item
              .item__data
                span 01.01.21
              .item__img
                img(src="assets/img/news/news_1.png")
              .item__text
                p Наша компания осуществила ребрендинг сайта. Теперь все страницы стали намного привлекательнее
              .item__link
                a(href="#") Подробнее...