section.page-content
  .container
    h2 ОПИСАНИЕ
    p Современные композитные короба с инкрустацией, требуют от компании производителя особого подхода и высокого мастерства специалистов. Для качественного изготовления коробов понадобится высокотехнологичное оборудование, точность производственных расчетов и качественные материалы.
    p Наша компания обладает всеми необходимыми требованиями, что позволяет нам гарантировать заказчику профессионализм выполненных работ и их максимальное качество. Композитные короба, изготовленные специалистами компании ФакторРус — это эффективность, надежность и качество конструкций.