section.portfolio-list  
  .container
    .row
      .col-md-4
        a.card(href="assets/img/portfolio/item1.png" data-width="2048" data-height="1365" data-fancybox="images" data-caption="Рекламная конструкция для компании ООО ГазПром")
          .card__img
            img(src="assets/img/portfolio/item1.png", alt="")
          .card__title
            h4 Рекламная конструкция для компании ООО “ГазПром”
      .col-md-4
        a.card(href="assets/img/portfolio/item2.png" data-width="2048" data-height="1365" data-fancybox="images" data-caption="Рекламная конструкция для компании ООО ГазПром")
          .card__img
            img(src="assets/img/portfolio/item2.png", alt="")
          .card__title
            h4 Рекламная конструкция для компании ООО “ГазПром”
      .col-md-4
        a.card(href="assets/img/portfolio/item3.png" data-width="2048" data-height="1365" data-fancybox="images" data-caption="Рекламная конструкция для компании ООО ГазПром")
          .card__img
            img(src="assets/img/portfolio/item3.png", alt="")
          .card__title
            h4 Рекламная конструкция для компании ООО “ГазПром”
      .col-md-4
        a.card(href="assets/img/portfolio/item4.png" data-width="2048" data-height="1365" data-fancybox="images" data-caption="Рекламная конструкция для компании ООО ГазПром")
          .card__img
            img(src="assets/img/portfolio/item4.png", alt="")
          .card__title
            h4 Рекламная конструкция для компании ООО “ГазПром”
      .col-md-4
        a.card(href="assets/img/portfolio/item5.png" data-width="2048" data-height="1365" data-fancybox="images" data-caption="Рекламная конструкция для компании ООО ГазПром")
          .card__img
            img(src="assets/img/portfolio/item5.png", alt="")
          .card__title
            h4 Рекламная конструкция для компании ООО “ГазПром”
      .col-md-4
        a.card(href="assets/img/portfolio/item6.png" data-width="2048" data-height="1365" data-fancybox="images" data-caption="Рекламная конструкция для компании ООО ГазПром")
          .card__img
            img(src="assets/img/portfolio/item6.png", alt="")
          .card__title
            h4 Рекламная конструкция для компании ООО “ГазПром”
      .col-md-4
        a.card(href="assets/img/portfolio/item7.png" data-width="2048" data-height="1365" data-fancybox="images" data-caption="Рекламная конструкция для компании ООО ГазПром")
          .card__img
            img(src="assets/img/portfolio/item7.png", alt="")
          .card__title
            h4 Рекламная конструкция для компании ООО “ГазПром”
      .col-md-4
        a.card(href="assets/img/portfolio/item8.png" data-width="2048" data-height="1365" data-fancybox="images" data-caption="Рекламная конструкция для компании ООО ГазПром")
          .card__img
            img(src="assets/img/portfolio/item8.png", alt="")
          .card__title
            h4 Рекламная конструкция для компании ООО “ГазПром”
      