section.price-list
  .container
    h2 Каталог
    .row.item
      .col-md-7.item__content
        h4.item__title НЕОНОВАЯ ВЫВЕСКА - ВАРИАНТ 1
        p.item__text Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание 
        span.item__price от 999 руб
        .item__btn
          a.c-btn(href="#") Заказать
      .col-md-5.item__img
        img(src="assets/img/productions/item_1.png", alt="")
    .row.item
      .col-md-7.item__content
        h4.item__title НЕОНОВАЯ ВЫВЕСКА - ВАРИАНТ 1
        p.item__text Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание 
        span.item__price от 999 руб
        .item__btn
          a.c-btn(href="#") Заказать
      .col-md-5.item__img
        img(src="assets/img/productions/item_1.png", alt="")
    .row.item
      .col-md-7.item__content
        h4.item__title НЕОНОВАЯ ВЫВЕСКА - ВАРИАНТ 1
        p.item__text Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание 
        span.item__price от 999 руб
        .item__btn
          a.c-btn(href="#") Заказать
      .col-md-5.item__img
        img(src="assets/img/productions/item_1.png", alt="")