section.production-list
  .container
    .row.justify-content-center
      .col-md-10
        h2 Наша продукция
    .row
      .col-12.col-md-4
        a.card(href="#")
          .card__wrap
            img.card__img(src="assets/img/productions/product_1.png")
          h4.card__title Вывески (объёмные буквы)
      .col-12.col-md-4
        a.card(href="#")
          .card__wrap
            img.card__img(src="assets/img/productions/product_2.png")
          h4.card__title Световые короба
      .col-12.col-md-4
        a.card(href="#")
          .card__wrap
            img.card__img(src="assets/img/productions/product_3.png")
          h4.card__title Композитные короба
      .col-12.col-md-4
        a.card(href="#")
          .card__wrap
            img.card__img(src="assets/img/productions/product_4.png")
          h4.card__title Кристалайты
      .col-12.col-md-4
        a.card(href="#")
          .card__wrap
            img.card__img(src="assets/img/productions/product_5.png")
          h4.card__title Фальшфасады
      .col-12.col-md-4
        a.card(href="#")
          .card__wrap
            img.card__img(src="assets/img/productions/product_6.png")
          h4.card__title Плоские буквы (несветовые)
    .row.justify-content-center.mt-4
      .col-md-4.d-flex.justify-content-center
        button.c-btn.production-list__btn(role="button") Показать все