section.reviews
  .container
    h2.reviews__title Отзывы о нас
    .reviews__wrap
      .reviews__carousel.owl-carousel
        .item 
          .item__img
            img(src="assets/img/reviews/review_1.png")
          h4.item__title Татьяна Иванова
          h6.item__subtitle Менеджер по рекламе ООО “Рога и копыта”
          p.item__text Реально крутая компания! Замерщик приехал в день обращения. Изготовили вывеску быстро, качаственно, а главное - не очень дорого! Всем рекомендую РПК Фактор
        .item 
          .item__img
            img(src="assets/img/reviews/review_1.png")
          h4.item__title Татьяна Иванова
          h6.item__subtitle Менеджер по рекламе ООО “Рога и копыта”
          p.item__text Реально крутая компания! Замерщик приехал в день обращения. Изготовили вывеску быстро, качаственно, а главное - не очень дорого! Всем рекомендую РПК Фактор
        .item 
          .item__img
            img(src="assets/img/reviews/review_1.png")
          h4.item__title Татьяна Иванова
          h6.item__subtitle Менеджер по рекламе ООО “Рога и копыта”
          p.item__text Реально крутая компания! Замерщик приехал в день обращения. Изготовили вывеску быстро, качаственно, а главное - не очень дорого! Всем рекомендую РПК Фактор
        .item 
          .item__img
            img(src="assets/img/reviews/review_1.png")
          h4.item__title Татьяна Иванова
          h6.item__subtitle Менеджер по рекламе ООО “Рога и копыта”
          p.item__text Реально крутая компания! Замерщик приехал в день обращения. Изготовили вывеску быстро, качаственно, а главное - не очень дорого! Всем рекомендую РПК Фактор
        .item 
          .item__img
            img(src="assets/img/reviews/review_1.png")
          h4.item__title Татьяна Иванова
          h6.item__subtitle Менеджер по рекламе ООО “Рога и копыта”
          p.item__text Реально крутая компания! Замерщик приехал в день обращения. Изготовили вывеску быстро, качаственно, а главное - не очень дорого! Всем рекомендую РПК Фактор
        .item 
          .item__img
            img(src="assets/img/reviews/review_1.png")
          h4.item__title Татьяна Иванова
          h6.item__subtitle Менеджер по рекламе ООО “Рога и копыта”
          p.item__text Реально крутая компания! Замерщик приехал в день обращения. Изготовили вывеску быстро, качаственно, а главное - не очень дорого! Всем рекомендую РПК Фактор