section.slider.container
  .slider__wrap
    .slide
      img.slide__bg(src="assets/img/slides/slide_1.png", alt="")
      .slide__wrap
        h1.slide__title Производство наружной рекламы
        h4.slide__subtitle По всей России
        button.c-btn.slide__btn(role="button") Отправить заявку