section.slider
  .container
    .slider__wrap
      .slide(style="background-image: url('assets/img/slides/slide_1.png')")
        .slide__wrap
          .slide_text
            h1.slide__title Производство наружной рекламы
            h4.slide__subtitle По всей России
          button.c-btn.slide__btn(role="button") Отправить заявку