section.works
  .container
    h2.works__title Наши работы
    .works__carousel.owl-carousel
      .item 
        img.item__img(src="assets/img/works/works_1.png")
      .item 
        img.item__img(src="assets/img/works/works_2.png")
      .item 
        img.item__img(src="assets/img/works/works_3.png")
      .item 
        img.item__img(src="assets/img/works/works_4.png")
      .item 
        img.item__img(src="assets/img/works/works_1.png")
      .item 
        img.item__img(src="assets/img/works/works_2.png")
      .item 
        img.item__img(src="assets/img/works/works_3.png")
      .item 
      img.item__img(src="assets/img/works/works_4.png")
      
