section.works
  .container
    .row
      h2.works__title Наши работы
    .row
      .carousel.owl-carousel
        .item 
          h3 1
        .item 
          h3 1
        .item 
          h3 1
        .item 
          h3 1
  