.top-menu {
  display: flex;
  width: 100%;
  background: $clr-red;

  ul {
    display: flex;
    gap: 3rem;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 2px solid $clr-border;
    li {
      padding: 1rem 0;
      text-decoration: none;
      a {
        color: $clr-black;
        font-weight: bold;
        font-size: 0.9rem;
        text-transform: uppercase;
        text-decoration: none;
        transition: $tr;

        &:hover {
          color: $clr-red;
        }
      }
      &.active {
        a {
          color: $clr-red;
        }
      }
    }
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .hc-nav-trigger {
    top: 4px;
    right: 1rem;

    span,
    span::after,
    span::before {
      height: 3px;
      background-color: $clr-white;
    }
  }
}

.dropdown {
  ul {
    top: 3rem;
    z-index: 1;
    display: none;
    flex-direction: column;
    gap: 0.1rem;
    width: 300px;
    margin: 0;
    padding: 1rem;
    background: $clr-white;
    transition: $tr;
    li {
      padding: 0;
      &:hover {
        color: $clr-red;
        background: transparent;
      }
      &:active {
        background: transparent;
      }
      a {
        color: $clr-black;
        font-size: 0.8rem;
        text-transform: none;
        transition: $tr;
        &:hover {
          color: $clr-red;
          background: transparent;
        }
        &:active {
          background: transparent;
        }
      }
    }
  }
  &-menu {
    top: 3rem;
    z-index: 1;
    flex-direction: column;
    gap: 0.1rem;
    width: 300px;
    margin: 0;
    padding: 1rem;
    background: $clr-white;
    transition: $tr;
  }
  &-item {
    padding: 0;
    &:hover {
      color: $clr-red;
      background: transparent;
    }
    &:active {
      background: transparent;
    }
  }
  &-link {
    color: $clr-black;
    font-size: 0.8rem;
    text-transform: none;
    transition: $tr;
    &:hover {
      color: $clr-red;
      background: transparent;
    }
    &:active {
      background: transparent;
    }
  }
}

@include media-breakpoint-up(sm) {
  .top-menu {
    display: flex;
    width: 100%;
    background: transparent;

    ul {
      display: flex;
      gap: 3rem;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
      border-top: 2px solid $clr-border;
      li {
        padding: 1rem 0;
        text-decoration: none;
        a {
          color: $clr-black;
          font-weight: bold;
          font-size: 0.9rem;
          text-transform: uppercase;
          text-decoration: none;
          transition: $tr;

          &:hover {
            color: $clr-red;
          }
        }
        &.active {
          a {
            color: $clr-red;
          }
        }
      }
    }
    .navbar-brand {
      display: none;
      align-items: center;
      margin: 0;
    }
    .hc-nav-trigger {
      top: 8px;
      right: 1rem;
      display: none !important;

      span,
      span::after,
      span::before {
        height: 3px;
        background-color: $clr-white;
      }
    }
  }

  .dropdown {
    ul {
      top: 3rem;
      z-index: 1;
      display: none;
      flex-direction: column;
      gap: 0.1rem;
      width: 300px;
      margin: 0;
      padding: 1rem;
      background: $clr-white;
      transition: $tr;
      li {
        padding: 0;
        &:hover {
          color: $clr-red;
          background: transparent;
        }
        &:active {
          background: transparent;
        }
        a {
          color: $clr-black;
          font-size: 0.8rem;
          text-transform: none;
          transition: $tr;
          &:hover {
            color: $clr-red;
            background: transparent;
          }
          &:active {
            background: transparent;
          }
        }
      }
    }
    &-menu {
      top: 3rem;
      z-index: 1;
      flex-direction: column;
      gap: 0.1rem;
      width: 300px;
      margin: 0;
      padding: 1rem;
      background: $clr-white;
      transition: $tr;
    }
    &-item {
      padding: 0;
      &:hover {
        color: $clr-red;
        background: transparent;
      }
      &:active {
        background: transparent;
      }
    }
    &-link {
      color: $clr-black;
      font-size: 0.8rem;
      text-transform: none;
      transition: $tr;
      &:hover {
        color: $clr-red;
        background: transparent;
      }
      &:active {
        background: transparent;
      }
    }
  }

  #navbarSupportedContent {
    display: flex;
  }
}

#sidebarNav {
  display: none;
}
#navbarSupportedContent {
  display: none;
}
