.aside
  ul.aside__list
    li.aside__item
      a(href="#") 
        span.aside__icon.aside__icon--consult
    li.aside__item
      a(href="#") 
        span.aside__icon.aside__icon--calc
    li.aside__item
      a(href="https://www.instagram.com/") 
        span.aside__icon.aside__icon--instagram 

