footer.footer
  .container
    .row
      .col-md-3
        .footer__info.contacts
          .contacts__logo
            img(src="assets/img/logo-inverted.png")
          .contacts__info  
            a.contact(href="tel:+7 (495) 663-50-72")
              span.contact__icon.contact__icon--phone1
              span.contact__title +7 (495) 663-50-72
            a.contact(href="tel:+7 (495) 663-50-72")
              span.contact__icon.contact__icon--phone2
              span.contact__title +7 (495) 663-50-72
            a.contact(href="mailto:zakaz@factorrus.ru")
              span.contact__icon.contact__icon--email
              span.contact__title zakaz@factorrus.ru
          .contacts__button
            a.c-btn(id="openCalcModal" href="#") Отправить заявку
      .col-md-9
        .row.footer__menu
          .col-md-4
            .footer__list
              h4 Продукция
              ul 
                li 
                  a(href="/produckciya/svetovie-koroba.html") Световые короба
                li 
                  a(href="/produckciya/kompozitnie-koroba.html") Композитные короба
                li 
                  a(href="/produckciya/kristalayti.html") Кристалайты
                li 
                  a(href="/produckciya/falshfasadi.html") Фальшфасады
                li 
                  a(href="/produckciya/ploskie-bukvi.html") Плоские буквы (несветовые)
                li 
                  a(href="/produckciya/informacionnie-stendi.html") Информационные стенды
                li 
                  a(href="/produckciya/svetovie-paneli.html") Световые панели (лайтиксы)
                li 
                  a(href="/produckciya/rostovie-figuri.html") Ростовые фигуры
                li 
                  a(href="/produckciya/shirokoformatnaya-pechat.html") Широкоформатная печать
                li 
                  a(href="/produckciya/krishnie-ustanovki.html") Крышные установки
                li 
                  a(href="/produckciya/panel-kronshtein.html") Панель-кронштейн (Консоль)
                li 
                  a(href="/produckciya/press-vol.html") Пресс-вол
                li 
                  a(href="/produckciya/freim-layti.html") Фрейм-лайты
                li 
                  a(href="/produckciya/akrilayti.html") Акрилайты
                li 
                  a(href="/produckciya/neonovie-viveski.html") Неоновые вывески
                li 
                  a(href="/produckciya/navigaciya.html") Навигация (таблички, указатели)
                li 
                  a(href="/produckciya/domovie-znaki.html") Домовые знаки
                li 
                  a(href="/produckciya/soglasovanie.html") Штендеры
                li 
                  a(href="/produckciya/led-ekrani.html") LED-экраны
          .col-md-4
            .footer__list
              h4 Услуги
              ul 
                li
                  a(href="/uslugi/montazh-konstrukciy.html") Монтаж конструкция
                li
                  a(href="/uslugi/demontazh-konstrukciy.html") Демонтаж конструкций
                li
                  a(href="/uslugi/remont-konstrukciy.html") Ремонт конструкций
                li
                  a(href="/uslugi/frezerovka.html") Фрезеровка
                li
                  a(href="/uslugi/lazernaya-rezka.html") Лазерная резка
                li
                  a(href="/uslugi/okleyka.html") Оклейка
                li
                  a(href="/uslugi/dizain.html") Дизайн
                li
                  a(href="/uslugi/proektirovanie.html") Проектирование
                li
                  a(href="/uslugi/soglasovanie.html") Согласование
          .col-md-4
            .footer__list
              h4 Информация
              ul 
                li 
                  a(href="/about.html") О нас
                li 
                  a(href="/portfolio.html") Портфолио
                li 
                  a(href="/news.html") Блог
                li 
                  a(href="/reviews.html") Отзывы
                li 
                  a(href="/contacts.html") Контакты
    .row
      .col-md-12  
        .copyright
          p © 2009–2021 «ФакторРус». Все права защищены.