footer.footer
  .container
    .row
      .col-md-3
        .footer__info.contacts
          .contacts__logo
            img(src="assets/img/logo-inverted.png")
          .contacts__info  
            a.contact(href="tel:+7 (495) 663-50-72")
              span.contact__icon.contact__icon--phone1
              span.contact__title +7 (495) 663-50-72
            a.contact(href="tel:+7 (495) 663-50-72")
              span.contact__icon.contact__icon--phone2
              span.contact__title +7 (495) 663-50-72
            a.contact(href="mailto:zakaz@factorrus.ru")
              span.contact__icon.contact__icon--email
              span.contact__title zakaz@factorrus.ru
          .contacts__button
            a.c-btn(href="#") Отправить заявку
      .col-md-9
        .row.footer__menu
          .col-md-4
            .footer__list
              h4 Продукция
              ul 
                li 
                  a(href="#") Световые короба
                li 
                  a(href="#") Композитные короба
                li 
                  a(href="#") Кристалайты
                li 
                  a(href="#") Фальшфасады
                li 
                  a(href="#") Плоские буквы (несветовые)
                li 
                  a(href="#") Информационные стенды
                li 
                  a(href="#") Световые панели (лайтиксы)
                li 
                  a(href="#") Ростовые фигуры
                li 
                  a(href="#") Широкоформатная печать
                li 
                  a(href="#") Крышные установки
                li 
                  a(href="#") Панель-кронштейн (Консоль)
                li 
                  a(href="#") Пресс-вол
                li 
                  a(href="#") Фрейм-лайты
                li 
                  a(href="#") Акрилайты
                li 
                  a(href="#") Неоновые вывески
                li 
                  a(href="#") Навигация (таблички, указатели)
                li 
                  a(href="#") Домовые знаки
                li 
                  a(href="#") Штендеры
                li 
                  a(href="#") LED-экраны
          .col-md-4
            .footer__list
              h4 Услуги
              ul 
                li
                  a(href="#") Монтаж конструкция
                li
                  a(href="#") Демонтаж конструкций
                li
                  a(href="#") Ремонт конструкций
                li
                  a(href="#") Фрезеровка
                li
                  a(href="#") Лазерная резка
                li
                  a(href="#") Оклейка
                li
                  a(href="#") Дизайн
                li
                  a(href="#") Проектирование
                li
                  a(href="#") Согласование
          .col-md-4
            .footer__list
              h4 Информация
              ul 
                li 
                  a(href="#") О нас
                li 
                  a(href="#") Новости
                li 
                  a(href="#") Портфоли
                li 
                  a(href="#") Клиенты
                li 
                  a(href="#") Контакты
    .row
      .col-md-12  
        .copyright
          p © 2009–2021 «ФакторРус». Все права защищены.