header.header
  .container
    .row
      .col-md-3
        img(src="assets/img/logo.png", alt="")
      .col-md-3
        ul.header__slogan
          li Рекламно-
          li производственная
          li компания
      .col-md-2
        .header__contacts
          a.contact(href="tel:+7 (495) 663-50-72")
            span.contact__icon.contact__icon--phone1
            span.contact__title +7 (495) 663-50-72
      .col-md-2
        .header__contacts
          a.contact(href="tel:+7 (495) 663-50-72")
            span.contact__icon.contact__icon--phone2
            span.contact__title +7 (495) 663-50-72
      .col-md-2
        .header__contacts
          a.contact(href="mailto:zakaz@factorrus.ru")
            span.contact__icon.contact__icon--email
            span.contact__title zakaz@factorrus.ru
    .row
      nav.top-menu.col-md-9.offset-md-3
        ul
          li.active 
            a(href="/") Главная
          li 
            a(href="/about.html") О нас
          li 
            a(href="/productions.html") Продукция
          li 
            a(href="/services.html") Услуги
          li 
            a(href="/portfolio.html") Портфолио
          li 
            a(href="/news.html") Блог
          li 
            a(href="/contacts.html") Контакты