// colors
$clr-gray: #f4f4f4;
$clr-gray-light: #e5e5e5;
$clr-gray-text: #cacaca;
$clr-gray-text-dark: #999999;
$clr-border: #e6e6e6;
$clr-red: #e51a4b;
$clr-black: #000000;
$clr-white: #ffffff;

// fonts
$font-family-base: "GothamPro", Consolas;

// animations
$tr: all 0.3s;

// cotainer
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1400px,
);
