extends ../../layouts/default
include ../../helpers/mixins

block content
  - const page_title = 'Акрилайты';
  - const page_img = 'assets/img/pages/kompozitnie_koroba.png';
  - const page_button = 'Отправить заявку';
  - const content_title = 'ОПИСАНИЕ';
  - const content_desc = 'Тонкие панели с подсветкой Кристалл могут использоваться в качестве яркой рекламы кафе, ресторанов, магазинов, офисов и бутиков. Модели отличаются наличием яркого светового края, который равномерно распределяет свет по всему периметру изображения. С помощью рассеивающей матрицы световой поток равномерно распределяется по картинке. Реклама становится заметной в любое время суток. Подсветка не искажает гамму изображения, сохраняет все оттенки и графические особенности. Текстовая информация читается без помех. Никаких ограничений по типу размещаемых материалов нет: это могут быть многоцветные изображения с высокой детализацией, текст, графика.';
  main 
    .content
      include ../../blocks/page-header
      include ../../blocks/page-content
      include ../../blocks/price-list
      include ../../blocks/calc